html {
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul li{
    list-style-type:none;
}

ul {
    padding-left: 1em;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
}

.locations {
    background-color: #1860A6;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
}

.pannel {
    width: 20%;
    height: 100%;
}

.filter {
    display: flex;
    width: 100%;
}

#filter-input {
    width: 100%;
    height: 3vh;
    padding: 1px 7px;
    border: none;
}

.header {
    text-align: center;
}

.location-list {
    width: 100%;
}

.clicked {
    background-color: #DB6C00;
}

.location {
    margin-bottom: 1.5em;
    outline: none;
    background-color: #1860A6;
    border-color: #1860A6;
    color: white;
    font-size: 1em;
    text-align: left;
}
.location:active, .location:focus {
    margin-bottom: 1.5em;
    color: orange;
    font-size: 1em;
    text-align: left;
}

.info {
    color: #1860A6;
}

.error-info {
    color: #DB6C00;
}

@media screen and (max-width: 1200px) {
    .pannel {
        height: 100%;
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .pannel {
        height: 100%;
        width: 35%;
    }

    .header {
    text-align: center;
    font-size: 16px;
    }

    .location-list {
    width: 100%;
    font-size: 12px;
    }
}
